.form-control {
  font-size: var(--form-control-font-size, 1em);
  padding-top: var(--form-control-padding-y, 0.5em);
  padding-bottom: var(--form-control-padding-y, 0.4em);
  padding-left: var(--form-control-padding-x, 0.75em);
  padding-right: var(--form-control-padding-x, 0.75em);
  border-radius: var(--form-control-radius, 0.25em);
  line-height: 1.2;
  background-color: var(--color-bg);
  border: 2px solid var(--color-contrast-low);
  transition: 0.2s;
  outline: none;

  &:focus {
    border: 2px solid var(--color-primary);
    box-shadow: 0px 0px 0px 2px alpha(var(--color-contrast-higher), 0.15);
  }
}

.form-legend {
  color: var(--color-contrast-higher, hsl(240, 8%, 12%));
  line-height: var(--heading-line-height, 1.2);
  font-size: var(--text-md, 1.2em);
  margin-bottom: var(--space-xxs);
}

.form-label {
  display: inline-block;
}
