@import "mixins";

:host {
  overflow: auto;
}

section {
  height: 100%;
}

.gallery {
  display: flex;
  width: 100%;
  position: relative;
}

.gallery__column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: var(--space-md);

  &:last-of-type {
    margin-right: 0;
  }
}

.modal__header {
  position: sticky;
  top: 0;
}

.modal__header h4 {
  position: relative;
  top: 1px;
}

.gallery__item {
  width: 100%;
  position: relative;
  margin-bottom: var(--space-md);
  border-radius: 3px;
}

.gallery__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.gallery__image {
  display: block;
  width: 100%;
  height: auto;
}

.button__pause {
  position: fixed;
  right: var(--space-md);
  bottom: var(--space-sm);
  padding: var(--space-xs);
  z-index: var(--zindex-fixed-element);
  border-radius: var(--radius-md);
  background-color: var(--color-contrast-low);
  transition: 0.3s;

  @media (hover: hover) {
    &:hover {
      background-color: lightness(var(--color-contrast-low), 0.95);
    }
  }

  .icon {
    display: block;
    color: var(--color-contrast-higher);
    width: 2em;
    height: 2em;
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translateX(-20px), translateY(-20px);
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-primary);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
