@import "mixins";

:host {
  overflow: auto;
}

section {
  height: 100%;
}

.gallery {
  display: flex;
  width: 100%;
  position: relative;
}

.gallery__column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: var(--space-md);

  &:last-of-type {
    margin-right: 0;
  }
}

.modal__header {
  position: sticky;
  top: 0;
}

.gallery__item {
  width: 100%;
  position: relative;
  margin-bottom: var(--space-md);
  border-radius: 3px;
}

.gallery__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.gallery__image {
  display: block;
  width: 100%;
  height: auto;
}

.gallery__item-loading {
  width: 100%;
  display: block;

  animation-duration: 2.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: #ddd;
  background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
  background-size: 1200px 100%;
}

@-webkit-keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes shimmer {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: 1200px 0;
  }
}

.button__pause {
  position: fixed;
  right: var(--space-md);
  bottom: var(--space-md);
  padding: var(--space-xs);
  z-index: var(--zindex-fixed-element);
  border-radius: var(--radius-md);
  background-color: var(--color-contrast-low);
  transition: 0.3s;

  @media (hover: hover) {
    &:hover {
      background-color: lightness(var(--color-contrast-low), 0.95);
    }
  }

  .icon {
    display: block;
    color: var(--color-contrast-higher);
    width: 2em;
    height: 2em;
  }
}
