<!-- <div>
  <button (click)='isPauseScroll = !isPauseScroll'>Next</button>
</div> -->
<section class="padding-y-lg">
  <div
  class="container max-width-adaptive-lg"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollDisabled]="isPauseScroll"
  (scrolled)="onScroll()">
    <div class="gallery">

      <ng-container *ngIf="posts$ | async as pexelColumns">

        <div class="gallery__column" *ngFor="let pexelColumn of pexelColumns; let i = index">
          <div
            class="gallery__item gallery__loading"
            *ngFor="let pexelPhoto of pexelColumn"
            [ngStyle]="{ 'padding-top': pexelPhoto.aspectRatioPadding + '%'}">

            <!-- Link Markup -->
            <a class="gallery__link" [routerLink]="" (click)="open(modalTemplate)">
              <img class="gallery__image"
                srcset="{{pexelPhoto.imageMap.toString()}}"
                sizes="{{pexelPhoto.imageSize.toString()}}"
                [src]="pexelPhoto.src.original">
            </a>
            <!-- Modal Template -->
            <ng-template #modalTemplate>
              <header class="modal__header bg-contrast-lower padding-y-sm padding-x-md flex items-center justify-between shadow-md">
                <div>
                  <h4 class="text-truncate">{{ pexelPhoto.photographer }}</h4>
                </div>
                <div class="flex justify-end gap-xs">
                  <button class="btn btn--primary">Download</button>
                </div>
              </header>
              <div class="padding-md">
                <img class="gallery__image"
                  srcset="{{pexelPhoto.imageMap.toString()}}"
                  sizes="{{pexelPhoto.imageSize.toString()}}"
                  [src]="pexelPhoto.src.original">
              </div>
            </ng-template>
          </div>
        </div>

      </ng-container>

    </div>
  </div>
</section>

<ng-template #imageLoadingTemplate>
  <div class="gallery__loading"></div>
</ng-template>
